.btn {
    color: var(--color-black);
    border: solid 2px var(--color-black);
    border-radius: 5px;
    display: inline-block;

    &:hover {
        background-color: var(--color-white);
        color: var(--color-primary);
        border-color:var(--color-primary);
    }
}

.btn__petit {
    padding: 10px  20px ;
    @media screen and (min-width: $breakpoint-md) {
        padding:0  10px ;
    }
}
.btn__moyen{
    padding: 20px 40px;
}

.btn__grand {
    padding: 20px 60px;
}