.swiper-button-prev,
.swiper-button-next {
    color: var(--color-white);
}
.modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .img3_cass{
        height: 65%;
    }
    img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px;
    }
}
