.swiper-button-prev,
.swiper-button-next {
    color: var(--color-white);
}
.modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    height: auto;
    display: flex;
    align-items: center;
    .img-cass{
        padding: 25px 0;  
        @media screen and (min-width: 1000px){
          padding: 500px 0;  
        }
       
    }
    img {
        object-fit: cover;
    }
}
