.swiper-button-prev,
.swiper-button-next {
    color: var(--color-black);
}
.modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-slide {
    img {
        height: 100%;
        object-fit: cover;
    }
}
