/*--------------------- SECTION HERO ----------------------*/
.equipe-hero {
    text-align: center;
    padding: 0 50px;
    h1 {
        color: var(--color--green);
    }
}

.equipe-titre {
    font-size: 1.75rem;
}

.equipe-hero-personnage {
    img {
        width: 80%;
        height: auto;
    }
}

/*--------------------- SECTION VIDÉO ---------------------*/
.equipe-video {
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;

        margin-bottom: 50px;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 50%;
    z-index: -20;
}

/*-------------------- SECTION ÉQUIPE --------------------*/
.membres {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    margin: 100px 0;

    h2{
        font-weight: bold;
        margin-bottom: 100px;
    }

    .wrapper{
        min-width: 350px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            color: var(--color-white);
            line-height: 1;
            font-size: 1rem;
        } 
    }
   
}

.meep {
    width: 40%;
    height: auto;
    margin: 30px 10px;
    padding: 20px;

    background-color: #2e2e2e;
    border-radius: 20px;

    box-shadow: inset 0px -21px 25px 1px rgba(0, 0, 0, 0.25);
    .membre-texte{
        @media screen and (min-width: 1000px){
            margin-top: -50px;
        }
        margin-top: -10px;
    }
}

   
.equipe-membre {
    width: 40%;
    height: auto;
    margin: 30px 10px;
    padding: 20px;

    
    background-color: #2e2e2e;
    border-radius: 20px;

    
    box-shadow: inset 0px -21px 25px 1px rgba(0, 0, 0, 0.25); 

   
    &:hover {
        background-color: #414141;
    }
}


.personnage-image {
    margin-top: -100px;
    position: relative;
    transition: all 0.4s;
}

.membre-image {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.4s;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    overflow: hidden;
    display: inline-block;

    img {
        width: 100%;
        height: auto;

    }
}



.membre-texte {
    margin-top: auto;
    text-align: center;
    font-size: 1rem;

    a {
        background-color: yellow;
        border-radius: 20px;
        margin-top: 10px 30px;
    }
}

@media screen and (min-width: $breakpoint-md) {
    /*-- SECTION HERO --*/
    .equipe-hero {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-image: url();
        padding-top: 100px;
    }

    .equipe-titre {
        font-size: 3.5rem;
    }

    /*-- SECTION ÉQUIPE --*/
    .membres{
        .wrapper{
          min-width: 800px;  
        }
    }

    .meep{
        width: 30%;
        height: 280px;
        margin: 30px 10px; 
    }
    .equipe-membre{
        width: 30%;
        height: 280px;
        margin: 30px 10px;

        &:hover {
            .membre-image {
                top: 25px;
                left: 0px;
            
                width: 170px;
                height: 170px;
            }

            .personnage-image {
               margin-top: 50px;
               margin-left: 130px;
               transition: all 0.4s;
                .perso {
                   width: 75%;
                }
            }

            .membre-texte {
                margin-top: -19.5px;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .membre-image {
        width: 70px;
        height: 70px;
    }

    .membre-texte {
        margin-top: 50px;

        p {
            margin-bottom: 0;
        }
    }

    
}

@media screen and (min-width: $breakpoint-lg) {

    .equipe-membre{
        width: 20%;
        margin: 15px 10px;
        &:nth-child(odd) {
            margin-top: 110px;
        }
        &:hover{
            .membre-image {
                top: -140px;
                left: -85px;
        
            }
        }
    }

    .meep {
        margin: 110px 10px 15px 10px;
        width: 20%;
    }
    
    .membres{
        .wrapper{
            min-width: 1000px;
        }
    }


    .membre-image {
        width: 30%;
        height: 30%;
        

        bottom: -30px;
        right: 0px;
    }
}
