/*------------------------ BASE ---------------------------*/
.equipe-wrapper {
    p {
        color: var(--color-white);
        line-height: 1;
        font-size: 1rem;
    }
}

/*--------------------- SECTION HERO ----------------------*/
.equipe-hero {
    text-align: center;
    padding: 0 50px;
    h1 {
        color: var(--color-secondary);
    }
}

.equipe-titre {
    font-size: 1.75rem;
}

.equipe-hero-personnage {
    img {
        width: 80%;
        height: auto;
    }
}

/*--------------------- SECTION VIDÉO ---------------------*/
.equipe-video {
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;

        margin-bottom: 50px;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 50%;
    z-index: -20;
}

/*-------------------- SECTION ÉQUIPE --------------------*/

.membres {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 100px;

    .membres-titre {
        font-weight: bold;
        margin-bottom: 100px;
    }
}
.equipe-wrapper {
    min-width: 350px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.equipe-membre,
.meep {
    width: 40%;
    height: auto;
    margin: 30px 10px;
    padding: 20px;

    background-color: #2e2e2e;
    border-radius: 20px;

    box-shadow: inset 0px -21px 25px 1px rgba(0, 0, 0, 0.25);
}

.equipe-membre:hover {
    background-color: #414141;
}

.membre-perso-image {
    display: flex;
    justify-content: center;
}

.personnage-image {
    margin-top: -100px;
    position: relative;
    transition: all 0.4s;
    img {
        width: 90%;
    }
}

.membre-image {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.4s;

    width: 60px;
    height: 60px;
    border-radius: 50%;

    overflow: hidden;
    display: inline-block;

    img {
        width: 100%;
        height: auto;
        background-position: top middle;
        transform: scale(2);
    }
}

.membre-texte {
    margin-top: auto;
    text-align: center;
    font-size: 1rem;

    a {
        background-color: yellow;
        border-radius: 20px;
        margin-top: 10px 30px;
    }
}

@media screen and (min-width: 1000px) {
    /*-- SECTION HERO --*/
    .equipe-hero {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-image: url();
        padding-top: 100px;
    }

    .equipe-titre {
        font-size: 3.5rem;
    }

    /*-- SECTION ÉQUIPE --*/

    .equipe-wrapper {
        min-width: 800px;
    }

    .equipe-membre,
    .meep {
        width: 30%;
        height: 280px;
        margin: 30px 10px;
    }

    .membre-image {
        width: 70px;
        height: 70px;
    }

    .membre-texte {
        margin-top: 50px;

        p {
            margin-bottom: 0;
        }
    }

    /*-- Test Hover --*/
    .hover-test {
        margin-top: 0 !important;
    }

    .hover-test:hover {
        margin-top: -100px;
    }

    .equipe-membre:hover {
        .membre-image {
            position: absolute;
            top: -140px;
            left: -50px;

            width: 170px;
            height: 170px;
            border-radius: 50%;

            overflow: hidden;

            transition: all 0.4s;

            img {
                width: 100%;
                height: auto;
            }
        }

        .personnage-image {
            margin-top: 50px;
            margin-left: 130px;
            position: relative;

            .perso {
                width: 50%;
            }

            transition: all 0.4s;
        }

        .membre-texte {
            margin-top: -19.5px;

            p {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .equipe-membre:nth-child(odd) {
        margin-top: 110px;
    }

    .meep {
        margin-top: 110px;
    }
    .equipe-wrapper {
        min-width: 1000px;
    }

    .equipe-membre,
    .meep {
        width: 20%;
        margin: 15px 10px;
    }

    .membre-image {
        width: 80px;
        height: 80px;

        bottom: -20px;
        right: -20px;
    }
}
