/*--------------------- SECTION HERO ----------------------*/
.equipe-hero {
    text-align: center;
    padding: 0 50px;
    h1 {
        color: var(--color--green);
    }
}

.equipe-titre {
    font-size: 1.75rem;
}

.equipe-hero-personnage {
    img {
        width: 80%;
        height: auto;
    }
}

/*--------------------- SECTION VIDÉO ---------------------*/
.equipe-video {
    display: flex;
    justify-content: center;

    img {
        width: 80%;
        height: auto;

        margin-bottom: 50px;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 50%;
    z-index: -20;
}

/*-------------------- SECTION ÉQUIPE --------------------*/
.membres {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    margin: 100px 0;

    h2 {
        font-weight: bold;
        margin-bottom: 100px;
    }

    .wrapper {
        min-width: 350px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            color: var(--color-white);
            line-height: 1;
            font-size: 1rem;
        }
    }
}

.meep {
    position: relative;

    width: 42%;
    height: auto;
    margin: 40px 10px;
    padding: 20px;

    background-color: #2e2e2e;
    border-radius: 20px;

    box-shadow: inset 0px -21px 25px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1);

    @media screen and (min-width: $breakpoint-sm) {
        padding-top: 70px;
    }
    @media screen and (min-width: $breakpoint-md) {
        width: 30%;
    }

    img {
        position: absolute;
        top: -50px;
        left: 15%;

        width: 100px;
        height: 100px;

        @media screen and (min-width: $breakpoint-sm) {
            width: 125px;
            height: 115px;

            left: 30%;
        }
    }
}

.equipe-membre {
    position: relative;
    transition: all 0.4s;

    width: 42%;
    height: auto;
    margin: 40px 10px;
    padding: 20px;

    background-color: #2e2e2e;
    border-radius: 20px;

    box-shadow: inset 0px -21px 25px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;

    @media screen and (min-width: $breakpoint-sm) {
        padding-top: 70px;
    }
    @media screen and (min-width: $breakpoint-md) {
        width: 30%;
        &:hover {
            .perso {
                transform: scale(1);
            }
            .membre-image {
                transform: scale(0);
            }
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        width: 20%;
        &:nth-child(even) {
            margin-bottom: 110px;
        }
        &:nth-child(odd) {
            margin-top: 110px;
        }
    }

    &:hover {
        background-color: #414141;
    }
}

.membre-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    overflow: hidden;
    display: inline-block;

    position: absolute;
    top: -50px;
    left: 15%;

    img {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: $breakpoint-sm) {
        width: 125px;
        height: 125px;
        left: 30%;

        transition: all 250ms ease-in;
        transform: scale(1);
    }
}
.perso {
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 2;

    width: 50px;
    height: 50px;
    @media screen and (min-width: $breakpoint-sm) {
        right: 25%;
    }
    @media screen and (min-width: $breakpoint-md) {
        top: -35%;
        left: 25%;

        width: 150px;
        height: 150px;

        transition: all 250ms ease-in;
        transform: scale(0);
    }
}

.membre-texte {
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
}

@media screen and (min-width: $breakpoint-md) {
    /*-- SECTION HERO --*/
    .equipe-hero {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-image: url();
        padding-top: 100px;
    }

    .equipe-titre {
        font-size: 3.5rem;
    }

    /*-- SECTION ÉQUIPE --*/
    .membres {
        .wrapper {
            min-width: 800px;
        }
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .meep {
        margin: 110px 10px 15px 10px;
        width: 20%;
    }

    .membres {
        .wrapper {
            min-width: 1000px;
        }
    }
}
