/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    font-weight: 600 ;
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
    }

    &:active {
        color: inherit;
    }

    &:focus {
        color: inherit;
    }
}
