/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Baloo 2', sans-serif;
    --font-secondary: 'Titan One', sans-serif;


    --font-size-content: 1.25rem;
    @media screen and (min-width: $breakpoint-md) {
        --font-size-content: 1.875rem;
    }
    --font-size-comment: 1rem;

    --font-size-button: 1.5625rem;

    --font-size-animate-xl: 6.25rem;
    --font-size-animate-sm: 3.125rem;

    
    /// Grosseur des textes

    --font-size-h1: 2rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1rem;

    @media screen and (min-width:$breakpoint-md){
        --font-size-h1: 3.5rem;
        --font-size-h2: 4.375rem;
        --font-size-h4: 1.5625rem;
    }
}
