/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Baloo 2', sans-serif;
    --font-secondary: 'Titan One', sans-serif;


    --font-size-content: 1.25rem;
    @media screen and (min-width: $breakpoint-md) {
        --font-size-content: 1.875rem;
    }
    --font-size-comment: 1rem;

    --font-size-button: 1.5625rem;

    --font-size-animate-xl: 6.25rem;
    --font-size-animate-sm: 3.125rem;

    
    /// Grosseur des textes
    --font-size-h1-desktop: 6.25rem;
    --font-size-h1-mobile: 2.5rem;

    --font-size-h2-desktop: 4.375rem;
    --font-size-h2-mobile: 2.5rem;

    --font-size-h3-desktop: 2.5rem;
    --font-size-h3-mobile: 1.6875rem;

    --font-size-h4-desktop: 1.5625rem;
    --font-size-h4-mobile: 1rem;
}
